// Site footer
footer
	.social
		a.collecticon.collecticon-facebook(href='#')
		a.collecticon.collecticon-instagram(href='#')
		a.collecticon.collecticon-soundcloud(href='#')
	.siteInfo
		span.copyright &copy;2015 K & Whereabouts
		span.credits designed by <a href='http://andypyle.github.io' target='_BLANK'>Andy Pyle</a>