// Navigation
nav
	ul.navigation
		li
			a(href='index.html') blog
		li
			a(href='us.html') us
		li
			a(href='music.html') music
		li
			a(href='shows.html') shows
		li
			a(href='contact.html') contact