// Contact
extends ./layout.jade
block title
	title k & whereabouts | contact

block section
	section#contact
		.contactHeader
			h2 Drop us a line
		.contactForm
			form#contactUs
				.formGroup
					input(type='text', id='name', name='name', placeholder='First & last')
					label(for='name') Name
				.formGroup
					input(type='email', id='email', name='email', placeholder='your@email.com')
					label(for='email') Email
				.formGroup
					select(id='subject', name='subject')
						option(value='BOOKING') Booking
						option(value='PRESS') Press
						option(value='OTHER') Other
					label(for='subject') Subject
				.formGroup
					textarea(id='message', name='message')
					label(for='message') Message
				.formBtn
					button(type='submit') Send
