// Home
extends ./layout.jade
block title
	title k & whereabouts

block section
	section#blog
		article.post
			.postHeading
				h2.postTitle New Album
				span.postDate 9.3.2015
			.postContent
				p Behind you, stands a symbol of oppression. Blackgate 
					| Prison, where a thousand men have languished under 
					| the name of this man: Harvey Dent.
				img(src='http://www.placebear.com/400/350', alt='Bear 2!')
			.postReadMore
				a(href='#')
					| read more
					span.collecticon.collecticon-sm-chevron-right

		article.post
			.postHeading
				h2.postTitle Resuming Transmission&hellip;
				span.postDate 9.1.2015
			.postContent
				p Ooh, you think darkness is your ally? You merely 
					| adopted the dark, I was born in it. Molded by it. 
					| I didn't see the light until I was already a man. 
					| By then there was nothing to be but blinded.
				img(src='http://www.placebear.com/400/250', alt='Bear!')
			.postReadMore
				a(href='#')
					| read more
					span.collecticon.collecticon-sm-chevron-right
