doctype html
html
	head
		// META
		meta(name='description', content='Hip-hop from the Central Coast')
		meta(name='author', content='Andy Pyle')
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='og:title', content='k & whereabouts')
		//meta(name='og:image', content='OPENGRAPH IMAGE')
		meta(name='og:description', content='Hip-hop from the Central Coast')

		block title
			title k & whereabouts

		// STYLESHEETS
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='//brick.a.ssl.fastly.net/Open+Sans:300,400,700,900')
		link(rel='stylesheet', href='styles/style.min.css')

	body
		main
			include ./includes/_header

			block section

			include ./includes/_footer

		// SCRIPTS
		script(src='js/app.js')