// Music
extends ./layout.jade
block title
	title k & whereabouts | music

block section
	section#music
		.discography
			.discographyHeader
				h2 Discography
				p Most of our music can be found on our <a href='#' class="bandcamp" target='_BLANK'>Bandcamp</a> page, as a pay-what-you-want download.
			.discographyAlbums
				a.album.mountainreach(href='#', target='_BLANK')
					img(src='img/mountainreach.jpg', alt='mountainreach')
					span mountainreach
				a.album.fromthedust(href='#', target='_BLANK')
					img(src='img/fromthedust.jpg', alt='From The Dust')
					span from the dust

		.videos
			.videosHeader
				h2 Videos
			.videosList
				p Coming soon!